{% load static %}
<style>
  @keyframes change-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient-1 {
    background-image: linear-gradient(to right, #F56565, #9F7AEA, #ED64A6);
    animation: change-gradient 10s ease-in-out infinite;
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .animate-gradient-2 {
    background-image: linear-gradient(to right, #38B2AC, #B2F5EA, #6EE7B7);
    animation: change-gradient 10s ease-in-out infinite;
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .animate-gradient-3 {
    background-image: linear-gradient(to right, #FDBA74, #FCD34D, #FBBF24);
    animation: change-gradient 10s ease-in-out infinite;
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .text-opaque {
    color: black;
  }

  .gradienttextDiv{
    margin-top: 10vh;
    height: 50vh;
  }
  @media screen and (max-width: 768px) {
    body {
      padding-top: 70px; /* Add some padding to give space between content and navbar */
    }
    .gradienttextDiv {
      flex-direction: column;
    }
    
    .gradienttextDiv span {
      margin-bottom: 20px;
      padding: 10px; /* Add some padding to give space between headings */
    }
    .gradienttextDiv h1 {
      font-size: 4rem; /* Change this value to your desired font size */
      line-height: 0.9; /* Add a line-height property to the h1 elements *
    }
  }
  
</style>

<div class="bg-white w-full h-50">
  <div class="w-full gradienttextDiv flex items-center justify-center">
    <span>
      <h1 class="text-4xl md:text-9xl font-extrabold animate-gradient-1 transition duration-500 ease-in-out">Read.</h1>
    </span>
    <span>
      <h1 class="text-4xl md:text-9xl font-extrabold transition duration-500 ease-in-out">Write.</h1>
    </span>
    <span>
      <h1 class="text-4xl md:text-9xl font-extrabold transition duration-500 ease-in-out">Learn.</h1>
    </span>
  </div>
  
  
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">We invest in the world’s potential</h1>
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
          <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              Get started
              <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>
          <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
              Learn more
          </a>  
      </div>
  </div>
</section>

    <video src="{% static 'img/video1.mp4'%}" class="w-full h-auto" loop autoplay muted></video>
  
    <div class="bg-white rounded-lg overflow-hidden shadow-md">
      <div class="bg-gray-800 px-4 py-3">
        <h3 class="text-lg font-medium text-white">
          Notice Board
        </h3>
      </div>
      <div class="border-t border-gray-200">
        <dl>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Title
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed justo mi. 
            </dd>
          </div>
          <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Title
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed justo mi. 
            </dd>
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Title
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed justo mi. 
            </dd>
          </div>
        </dl>
      </div>
    </div>
    


<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="relative mt-[200] isolate overflow-hidden bg-gray-900 py-16 sm:py-24 lg:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
      <div class="max-w-xl lg:max-w-lg">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Subscribe to our newsletter.</h2>
        <p class="mt-4 text-lg leading-8 text-gray-300">Nostrud amet eu ullamco nisi aute in ad minim nostrud adipisicing velit quis. Duis tempor incididunt dolore.</p>
        <div class="mt-6 flex max-w-md gap-x-4">
          <label for="email-address" class="sr-only">Email address</label>
          <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Enter your email">
          <button type="submit" class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Subscribe</button>
        </div>
      </div>
      <dl class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2">
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
            </svg>
          </div>
          <dt class="mt-4 font-semibold text-white">Weekly articles</dt>
          <dd class="mt-2 leading-7 text-gray-400">Non laboris consequat cupidatat laborum magna. Eiusmod non irure cupidatat duis commodo amet.</dd>
        </div>
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 10-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 013.15 0v1.5m-3.15 0l.075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 013.15 0V15M6.9 7.575a1.575 1.575 0 10-3.15 0v8.175a6.75 6.75 0 006.75 6.75h2.018a5.25 5.25 0 003.712-1.538l1.732-1.732a5.25 5.25 0 001.538-3.712l.003-2.024a.668.668 0 01.198-.471 1.575 1.575 0 10-2.228-2.228 3.818 3.818 0 00-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0116.35 15m.002 0h-.002" />
            </svg>
          </div>
          <dt class="mt-4 font-semibold text-white">No spam</dt>
          <dd class="mt-2 leading-7 text-gray-400">Officia excepteur ullamco ut sint duis proident non adipisicing. Voluptate incididunt anim.</dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6" aria-hidden="true">
    <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
</div>




<script>
  const first = document.querySelector('.animate-gradient-1');
  const second = document.querySelectorAll('h1')[1];
  const third = document.querySelectorAll('h1')[2];

  setInterval(() => {
    // Set the first span to the second gradient color
    first.classList.remove('animate-gradient-1', 'animate-gradient-3');
    first.classList.add('animate-gradient-2');

    // Set the second span to opaque (black)
    second.classList.add('text-opaque');
    second.classList.remove('animate-gradient-1', 'animate-gradient-3');

    // Set the third span to opaque (black)
    third.classList.add('text-opaque');
    third.classList.remove('animate-gradient-1', 'animate-gradient-2');

    // Wait for a bit before continuing to the next transition
    setTimeout(() => {
      // Set the second span to the first gradient color
      second.classList.remove('text-opaque');
      second.classList.add('animate-gradient-1');
    }, 1000);

  }, 4000);

  setInterval(() => {
    // Set the first span to the third gradient color
    first.classList.remove('animate-gradient-2', 'animate-gradient-1');
    first.classList.add('animate-gradient-3');

    // Set the second span to opaque (black)
    second.classList.add('text-opaque');
    second.classList.remove('animate-gradient-1', 'animate-gradient-3');

    // Set the third span to opaque (black)
    third.classList.add('text-opaque');
    third.classList.remove('animate-gradient-2', 'animate-gradient-1');

    // Wait for a bit before continuing to the next transition
    setTimeout(() => {
      // Set the third span to the first gradient color
      third.classList.remove('text-opaque');
      third.classList.add('animate-gradient-1');
    }, 1000);

  }, 8000);
</script>


