{% load static %}

{% block content %}
<div class="max-w-lg mx-auto bg-white rounded-lg shadow-lg p-6 flex flex-col items-center">
    <div class="h-32 w-32 mb-4">
        <img src="{% static 'img/avatar.jpg'%}" alt="Avatar" class="w-full h-full rounded-full">
    </div>
     {% if student%}
    <h1 class="text-4xl font-bold mb-4 text-gray-900">Welcome, {{ student.name }}!</h1>

    {% elif teacher%}
    <h1 class="text-4xl font-bold mb-4 text-gray-900">Welcome, {{ teacher.name }}!</h1>
    {% endif %} 
   
    <p class="mb-4 text-gray-700 text-lg">We're thrilled to have you join us today. Our team has been working hard to create an amazing learning experience just for you.</p>
    <p class="mb-4 text-gray-700 text-lg">During your time with us, you'll have access to a wealth of knowledge and resources that will help you achieve your goals and reach new heights.</p>
    <div class="flex space-x-4">
        <img src="{% static 'img/avatar.jpg'%}" alt="Avatar" class="red w-10 h-10 rounded-full">
        <img src="{% static 'img/avatar.jpg'%}" alt="Avatar" class="blue w-10 h-10 rounded-full">
        <img src="{% static 'img/avatar.jpg'%}" alt="Avatar" class="greenw-10 h-10 rounded-full">
        <img src="{% static 'img/avatar.jpg'%}" alt="Avatar" class="yellow w-10 h-10 rounded-full">
    </div>
</div>
{% endblock %}