{% block content %}


<style>
    .gradient-bg {
        background: linear-gradient(to bottom, #1e90ff, #00bfff);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
      }
      
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
    </style>
<div class="grid lg:grid-cols-3 grid-cols-1 gap-4">


    <div class="lg:col-span-1 mt-8">
        <div class="w-full rounded-lg overflow-hidden shadow-lg bg-white">
            <div class="p-4">
              <img src="https://i.pravatar.cc/300" alt="avatar" class="h-64 w-64 mx-auto rounded-full">
            </div>
          </div>
        </div>



    <div class="lg:col-span-2">
     <div class="w-full rounded-lg overflow-hidden shadow-lg bg-white">
        <div class="flex items-center p-6 border-b gradient-bg">
            <div>
              <h1 class="text-2xl font-bold">{{ student.name }}</h1>
            </div>
          </div>
      <div class="p-6">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="mb-4 flex items-center">
            <span class="font-semibold  mr-2"><i class="fa fa-envelope  text-orange-500 "></i></span>
            <span class="font-semibold">Email:</span>
            <span>{{ student.email }}</span>
          </div>
          <div class="mb-4 flex items-center">
            <span class="font-semibold mr-2"><i class="fa fa-id-card"></i></span>
            <span>{{ student.roll }}</span>
          </div>
          <div class="mb-4 flex items-center">
            <span class="font-semibold mr-2"><i class="fa fa-graduation-cap"></i></span>
            <span>{{ student.curent_sem }}</span>
          </div>
          <div class="mb-4 flex items-center">
            <span class="font-semibold mr-2"><i class="fa fa-building"></i></span>
            <span>{{ student.get_department_display }}</span>
          </div>
          <div class="mb-4 flex items-center">
            <span class="font-semibold mr-2"><i class="fa fa-male"></i></span>
            <span>{{ student.father_name }}</span>
          </div>
          <div class="mb-4 flex items-center">
            <span class="font-semibold mr-2"><i class="fa fa-female"></i></span>
            <span>{{ student.mother_name }}</span>
          </div>
          <div class="mb-4 flex items-center">
            <span class="font-semibold mr-2"><i class="fa fa-map-marker"></i></span>
            <span>{{ student.address }}</span>
          </div>
          <div class="mb-4 flex items-center">
            <span class="font-semibold mr-2"><i class="fa fa-phone"></i></span>
            <span>{{ student.phone }}</span>
          </div>
          <div class="mb-4 flex items-center">
            <span class="font-semibold mr-2"><i class="fa fa-phone"></i></span>
            <span>{{ student.father_phone }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
