{% load static %}
{% block content %}
<div class="max-w-md mx-auto">
    <h1 class="text-2xl font-bold mb-4">View Marks</h1>
    <form method="POST" action = "{% url 'show_sub_wise_marks' %}">
        {% csrf_token %}
        <div class="mb-4">
            <label for="subject" class="block font-medium text-gray-700 mb-2">Select Subject:</label>
            <select name="subject" id="subject" name= "subject" class="block w-full bg-white border border-gray-300 px-4 py-2 pr-8 rounded shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                <option value="all">All Subjects</option>
                {% for subject in subjects %}
                    <option value="{{ subject }}">{{ subject }}</option>
                {% endfor %}
            </select>

            <label for="sessional_index" class="block font-medium text-gray-700 mb-2">Select Sessional:</label>
            <select name="sessional_index" id="sessional_index" name= "sessional_index" class="block w-full bg-white border border-gray-300 px-4 py-2 pr-8 rounded shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                <option value="all">All Sessionals</option>
                    <option value="1">Sessional 1</option>
                    <option value="2">Sessional 2</option>
                    <option value="3">Sessional 3</option>
                    {% comment %} <option value="{{ subject }}">{{ subject }}</option> {% endcomment %}
            </select>
        </div>
        <div class="text-center">
            <div id="spinner" class="hidden fixed top-0 left-0 w-full h-full bg-gray-900 opacity-90 z-50">
                <div class="flex justify-center items-center h-full">
                   <i class="fa fa-spinner fa-spin text-white text-5xl"></i> 
                   
                    {% comment %} <img src="{% static 'img/ghost.gif' %}" alt="spinner" class="h-20 w-20"> {% endcomment %}
                  </div>
              </div>
            <button type="submit" class="px-4 py-2 font-medium text-white bg-indigo-600 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">View Attendance</button>
        </div>
    </form>
</div>

<script>
    const form = document.querySelector('form')
    const spinner = document.querySelector('#spinner')
  
    form.addEventListener('submit', (event) => {
      spinner.classList.remove('hidden')
    })
  
    document.addEventListener('DOMContentLoaded', () => {
      spinner.classList.add('hidden')
    })
  </script>
  

  {% if marks %}
  <div>
      <h1 class="text-2xl font-bold mb-4">Subject Wise Marks</h1>
      
      {% for sessional_index in marks.values_list('sessional_index', flat=True).distinct %}
          <h2 class="text-xl font-bold mb-2">Sessional_{{ sessional_index }}</h2>
          <table class="table-auto w-full">
              <thead>
                  <tr>
                      <th class="px-4 py-2">Subject</th>
                      <th class="px-4 py-2">Marks Obtained</th>
                      <th class="px-4 py-2">Total Marks</th>
                  </tr>
              </thead>
              <tbody>
                  {% for mark in marks.filter(sessional_index=sessional_index) %}
                      <tr>
                          <td class="border px-4 py-2">{{ mark.subject }}</td>
                          <td class="border px-4 py-2">{{ mark.marks_obtained }}</td>
                          <td class="border px-4 py-2">{{ mark.max_marks }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% endfor %}
  </div>
{% endif %}

{% comment %} {% include 'attendance/studentList.html' %} {% endcomment %}


{% endblock content %}